<section style="background-color: #eee;margin-top: 50px;">
    <div class="container py-5">
      <div class="row">
        <div class="col">
          <!-- <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">User</a></li>
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </nav> -->
        </div>
      </div>
  
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4" style="background-color: #ffffff; color: #0b0b0b; border-radius: 25px; border: 2px dashed #607D8B;">
            <div class="card-body text-center ">
              <img src="{{User.user.image}}" alt="..."
                class="rounded-circle img-fluid" style="width: 100px;height: 100px;">
              <h5 class="my-3">{{User.user.userName}}</h5>
              <!-- <p class="text-muted mb-1">Full Stack Developer</p>
              <p class="text-muted mb-4">Bay Area, San Francisco, CA</p> -->
              <div class="d-flex justify-content-center mb-2">
                <button type="button" id="btnc" class="btn " style="background-color:  #607D8B; color: #ffffff;"  [routerLink]="['/PendingUsers']" routerLinkActive="active">back</button>
               
              </div>
            </div>
          </div>
          <!-- <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
              <ul class="list-group list-group-flush rounded-3">
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fas fa-globe fa-lg text-warning"></i>
                  <p class="mb-0">https://mdbootstrap.com</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                  <p class="mb-0">mdbootstrap</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                  <p class="mb-0">@mdbootstrap</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                  <p class="mb-0">mdbootstrap</p>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                  <p class="mb-0">mdbootstrap</p>
                </li>
              </ul>
            </div>
          </div> -->
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{User.user.userName}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{User.user.email}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{User.user.phoneNumber}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">relative</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{User.relative}}</p>
                </div>
              </div>

              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Disease Level</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{User.diseaselevel}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Deseas Discription</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{User.deseasDiscription}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{User.user.country}},{{User.user.city}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-4" style="font-size: 20px;font-weight: bold;">Patient Document</p>
                  <img src="{{User.user.document}}" alt="..."
                  class="img-fluid">
            </div>
          </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>